!.gitignore

# C
*.o
*.su
*.so
*.so.*
*.a

# auto backup files
*~
~*
*.sw[a-z]
*.bak*

/dist/*
!/dist/*.sh.bz2
release/
build/

# local files
local/
*.local
*.local.*

# files/dirs to ignore
.keep

/batwatch
/batwatchd
/.batwatch
